<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041606516821-3srnqsjb1pbp0p8jsq96ma1oskefb5se.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041606516821-3srnqsjb1pbp0p8jsq96ma1oskefb5se</string>
	<key>API_KEY</key>
	<string>AIzaSyBY1PYy_kb7WWF1F5hqvwQuKI1yKtEtqws</string>
	<key>GCM_SENDER_ID</key>
	<string>1041606516821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.careresources.app</string>
	<key>PROJECT_ID</key>
	<string>care-resources</string>
	<key>STORAGE_BUCKET</key>
	<string>care-resources.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041606516821:ios:5137d0f3bbc7ffa99c34dc</string>
</dict>
</plist>